.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: transparent; */
    /* padding: 12px; */
    /* padding: 1rem; */
    /* border-bottom: 1px solid #e5e7eb; */
    z-index: 30;
    width: 100%;
}

.responsive-header-bg {
    background: transparent;
}

/* White background when screen width is around 1050px and below */
@media (max-width: 1050px) {
    .responsive-header-bg {
        background: white;
        border-bottom: 1px solid #e5e7eb;
    }
}

/* Transparent background when screen width is above 1050px */
@media (min-width: 1051px) {
    .responsive-header-bg {
        background: transparent;
        border-bottom: none;
    }
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    /* padding-left: 10px; */
}

.collapsed-buttons {
    display: flex;
    flex-direction: row;
    /* gap: 4px; */
}

.app-title {

    cursor: pointer;
    font-size: 18px;
}


.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    position: relative;
}

.logo-circle {
    position: absolute;
    inset: 0;
    /* border-radius: 50%; */
    /* border: 2px solid black; */
}

.logo-line {
    position: absolute;
    inset: 3px;
    transform: rotate(45deg);
    /* border-top: 2px solid black; */
}

.app-title {
    /* font-size: 1.25rem; */
    font-weight: 500;
    color: black;
}

.header-actions {
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

.header-button {
    color: #374151;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #14b8a6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.auth-buttons {
    padding-right: 16px;
}
